table, th, td {
	border: 2px solid black;
	text-align: center;
	background-color: darkblue;
}
th{
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	background-color: ghostwhite;
}
td{
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	background-color: ghostwhite;
}

	